<div class="bg-[#e4b974] py-3 px-4 rounded-3xl text-[#553611]">
  <p class="text-2xl w-[50%] font-semibold">{{ taskTitle }}</p>
  <div class="flex items-center justify-between py-2">
    <div>
      <p class="text-lg font-medium">{{ startTime }}</p>
      <p class="text-xs">Start</p>
    </div>
    <p class="bg-[#553611] text-[#e4b974] rounded-full text-sm p-2 px-4">
      30 Min
    </p>
    <div>
      <p class="text-lg font-medium">{{ endTime }}</p>
      <p class="text-xs">End</p>
    </div>
  </div>
</div>
