<div class="bg-[#e5e6e1] h-screen pt-10 px-1 flex flex-col gap-2">
  <div class="flex justify-between px-4">
    <button
      class="text-[#e5e6e1] bg-black text-xs px-7 py-3 rounded-3xl flex items-center justify-center"
    >
      <p>Today</p>
    </button>
    <button
      class="bg-[#cfcfcb] rounded-full h-fit w-fit flex items-center justify-center px-4 py-2 text-lg"
      (click)="onOpenTaskForm()"
    >
      <p>+</p>
    </button>
  </div>
  <div class="h-full">
    <app-task-list />
  </div>
  @if (showTaskForm) {
  <app-task-form />
  }
</div>
<router-outlet />
